
@keyframes bubbles-show {
  from {
    /* pushes the sun down past the viewport */
    transform: translateY(10vh);
    opacity: 0;
  }
  to {
    /* returns the sun to its default position */
    transform: translateY(0);
    opacity: 1;
  }
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #FFF2EB;
}

img {
    max-width: 350px;
    max-height: 350px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    height: fit-content;
    padding: 10px;
    min-height: 100%;
}

.container .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.container p {
    margin: 0;
    max-width: 600px;
    font-size: 1.2em;
    padding: 15px;
    border-radius: 15px;
    color: black;
    font-family: "Roboto Mono", monospace;
    background-color: #FFD6BA;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 10px;
    opacity: 0;

    /* animation: bubbles-show 1s ease-in-out;
    animation-fill-mode: both; */
}

/* .container p:nth-child(1) {
    animation-delay: 0.5s;
}

.container p:nth-child(2) {
    animation-delay: 1s;
}

.container p:nth-child(3) {
    animation-delay: 1.5s;
} */

.container p a {
    text-decoration: underline dashed;
    color: #F56300;
    font-weight: 600;
}

.container p a:visited{
    color: #F56300;
}

p.description {
    font-size: 0.8em;
    font-weight: 600;
    color: #333;
    text-align: center;
    background-color: unset;
    margin: 0;
}

footer {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: #FFDCDC;
    justify-content: space-around;
}

footer span {
    color: #F00
}

footer a {
    color: #F93C3C;
    text-decoration: underline dashed;
    font-weight: 600;
}
footer a:visited {
    color: #F93C3C;
}